<% include style/topOne.ejs %>
<h1><%=data%></h1>
<p>you can simply refresh this page for more facts about the number <%=num%>.</p>
<a href="/">click here to go to home page.</a>
<% include style/bottom.ejs %>